$color-white: rgba(248, 248, 248, 1); //body - основной цвет
$gradient-title: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%); //заголовки с градиентом
$color-bg-swiper: rgba(255, 255, 255, 1);
$gray-color:rgba(126, 126, 130, 1);
$color-text: rgba(27, 28, 33, 1);
$placeholder: rgba(181, 182, 188, 1);   