@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Black.woff') format('woff');
  }
  
  @font-face {
    font-family: 'TT bold';
    src: url('../assets/fonts/TTLakes-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'TT medium';
    src: url('../assets/fonts/TTLakes-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'TT regular';
    src: url('../assets/fonts/TTLakes-Regular.woff') format('woff');
  }